@font-face {
    font-family: "Futura Light";
    src: url(fonts/futura\ light\ bt.ttf);
}

@font-face {
    font-family: "Futura Medium";
    src: url(fonts/futura\ medium\ bt.ttf);
}

body {
    background-image: url("background_01.png");
    background-size: 25%;
}

.home_logo {
    width: 1000px;
    margin: 5px auto 5px auto;
    position: relative;
}

.logo {
    display: block;
    margin: auto;
    width: 65%;
}

.home_icons {
    position: absolute;
}

.icons {
    display: block;
    width: 50%;
    margin: auto;
}

.welcome {
    display: block;
    margin: auto;
    width: 65%;
    height: auto;
}

.big_box {
    width: 850px;
    margin: 5px auto 5px auto;
}

.small_box_01 {
    background-color: hsl(144, 57%, 20%);
    margin: 10px auto 10px auto;
    padding: 5px;
    width: 750px;
    box-shadow: 5px 5px hsla(144, 57%, 20%, 0.5);
}

p {
    color: white;
    font-family: "Futura Light";
}
