@font-face {
    font-family: "Futura Light";
    src: url(fonts/futura\ light\ bt.ttf);
}

@font-face {
    font-family: "Futura Medium";
    src: url(fonts/futura\ medium\ bt.ttf);
}

@font-face {
    font-family: "Avant Garde Bold";
    src: url(fonts/ITCAvantGardeStd-Bold.ttf);
}

@font-face {
    font-family: "Avant Garde Demi";
    src: url(fonts/ITCAvantGardeStd-Demi.ttf);
}

body {
    background-image: url("background_01.png");
    background-size: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* top navbar */

.nav {
    position: relative;
    max-height: fit-content;
}

.nav > .logo {
    width: 600px;
    z-index: -1;
}

.nav > a > .icon {
    position: absolute;
    width: 60px;
    max-height: 100%;
}

.nav > a > .icon:hover {
    filter: brightness(175%);
}

/* main box */

.main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

.main_image {
    width: 600px;
    height: auto;
    margin: 10px;
}

.box {
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: fit-content;
}

.box .box_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.box .box_title {
    margin: 0px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Avant Garde Demi";
}

.box .box_table .box_cell .cell_img {
    display: flex;
    float: left;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}

.box .box_table .box_cell img {
    max-width: 80px; 
    height: 100%;
    margin: 5px;
}

.box .box_table img:hover {
    filter: brightness(60%);
}

p {
    color: white;
    font-family: "Futura Light";
}

/* bottom navbar */

.bottom_bar {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.bottom_bar img {
    height: 25px;
    max-width: 100%;
}

.box.green {
    background-color: hsl(144, 57%, 20%);
}

.box.green .box_title  {
    background-color: hsl(144, 57%, 33%);
}

.box.purple {
    background-color: hsl(273, 57%, 20%);
}

.box.purple .box_title  {
    background-color: hsl(271, 57%, 33%);
}

.boxes {
    width: 850px;
    display: flex;
    justify-content: center;
}
